/* основные цвета */
$white: #FFF;
$white-dark: #F4F4F4;

$grey-lighter: #EBEBEB;
$grey-light: #E5E5E5;
$grey: #CFCFCF;
$grey-darker: #C7C7C7;

$black-lighter: #333;
$black-light: #222;
$black: #151515;

$green: #24B47E;
$green-darker: #319E75;


/* распределение цветов */
$background-light-theme: $white-dark;
$background-dark-theme: $black-lighter;

$burger-icon-light-theme: $black;

$primary-text-light-theme: $black;
$secondary-text-light-theme: $black-light;

$primary-text-dark-theme: $white;
$secondary-text-dark-theme: $grey;

$button-detailed: $green;
$button-detailed-hover: $green-darker;
$button-detailed-text: $white;

/* шрифты */
$header-weight: 500;
$header-size: 14px;
$header-height: 18px;
$header-size-mobile: 18px;
$header-hover-opacity: .75;

$primary-title-weight: bold;
$primary-title-size: 55px;
$primary-title-height: 60px;
$primary-title-letter-spacing: -.5px;
$primary-title-size-mobile: 32px;
$primary-title-height-mobile: 40px;

$paragrapth-weight: normal;
$paragrapth-size: 18px;
$paragrapth-height: 28px;
$paragrapth-opacity: .7;
$paragrapth-size-mobile: 12px;
$paragrapth-height-mobile: 18px;

$button-detailed-weight: 600;
$button-detailed-size: 14px;
$button-detailed-height: 18px;
$button-detailed-letter-spacing: 1px;
$button-detailed-size-mobile: 13px;
$button-detailed-height-mobile: 19px;
