.header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 74px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  background-color: $background-light-theme;

  &__wrapper {
    @include mobile {
      position: absolute;
      right: -100%;
      top: 74px;
      width: 100%;
      min-width: 320px;
      height: calc(100vh - 74px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      visibility: hidden;
      background-color: $background-light-theme;
      transition: all 0.5s ease-in-out;
    }

    &_open {
      right: 0;
      visibility: visible;
    }
  }

  &__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu-item {
    margin-right: 34px;

    &:last-child {
      margin-right: 120px;
    }

    @include mobile {
      margin: 32px 0 0;

      &:first-child {
        margin-top: 70px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    @include font-style(500, 14px, 18px);
    color: $primary-text-light-theme;
    transition: opacity .5s linear;

    &:hover {
      opacity: .75;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__burger-icon {
    @include mobile {
      position: relative;
      width: 22px;
      height: 19px;
      display: flex;
      margin-right: 30px;
      cursor: pointer;

      &::before {
        content: '';
        @include burger(top, 0);
      }

      &::after {
        content: '';
        @include burger(bottom, 0);
      }
    }

    &_open {
      height: 22px;

      &::before {
        @include burger-open(top, 10px, 45deg);
      }

      &::after {
        @include burger-open(bottom, 9px, -45deg);
      }
    }
  }

  &__burger-icon-center {
    cursor: pointer;

    @include mobile {
      @include burger(top, 8px);
    }

    &_open {
      opacity: 0;
    }
  }
}
