.switch {
  display: flex;

  &__wrapper {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch__slider:before {
      transform: translateX(20px);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $switch-input;
    border-radius: 9999px;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      border-radius: inherit;
      background-color: $switch-slider;
      transition: .4s;
    }

    &:hover {
      opacity: .7;
    }

    &_dark {
      background-color: $switch-input-dark;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;

    &_position {
      &_left {
        margin-right: 22px;
      }

      &_right {
        margin-left: 22px;
      }
    }


    &_type {
      &_sun-light {
        background-image: url('../images/light.svg');
      }

      &_sun-dark {
        background-image: url('../images/light-dark.svg');
      }

      &_moon-light {
        background-image: url('../images/dark.svg');
      }

      &_moon-dark {
        background-image: url('../images/dark-dark.svg');
      }
    }
  }
}
